/* 项目的公共样式 */
.tonglan {
	width: 100%;
	min-width: 1200px;
}
.w {
	width: 1200px;
	margin: auto;
}
/* 清除浮动 */
.clearfix::after{
	content: "";
	clear: both;
	display: block;
	width: 0;
	height: 0;
}
/* 垂直居中 */
/* 在从外往里进行css盒子控制的时候 有用 */
/* v-middle使用要求
	1、使用v-middle的元素高度是有一个具体值的
	2、需要是v-middle儿子元素想要垂直居中对齐
	3、如果v-middle的儿子元素是脱离了文档流的则v-middle无效
 */
.v-middle {
	font-size: 0;
}
.v-middle>* {
	display: inline-block;
	vertical-align: middle;
}
.v-middle::after {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}








